@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather+Sans:wght@300..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gray1: #3d4c5c;
  --gray2: #667f99;
  --gray3: #a9b8c6;
  --gray4: #c2ccd6;
  --gray5: #e0e5eb;
  --gray6: #f9fafb;
  --gray-stroke: hsla(210, 20%, 90%, 60%);
  --gray-field: hsla(210, 20%, 90%, 34%);
  --black: #1b2128;
  --white: #fff;
  --blue1: #0036b2;
  --blue2: #0046e5;
  --blue3: #296aff;
  --blue4: #709bff;
  --blue5: #c2d4ff;
  --blue6: #e5edff;
  --purple1: #5900b2;
  --purple2: #7300e5;
  --purple3: #9429ff;
  --purple4: #b870ff;
  --purple5: #e0c2ff;
  --purple6: #f2e5ff;
  --green1: #00807d;
  --green2: #00b2b0;
  --green3: #b3e8e7;
  --green4: #d8f3f3;
  --red1: #dd4d2d;
  --red2: #f0b1a3;
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Merriweather Sans", sans-serif;
  --fw400: 400;
  --ff500: 500;
  --ff600: 600;
  --ff700: 700;
  --letter-spacing024: -0.024px;
  --letter-spacing256: 2.56px;
  --line-height24: 24px;
}

body {
  background-color: var(--white);
  font-size: 16px;
  font-family: var(--primary-font);
  font-weight: var(--500);
  letter-spacing: var(--letter-spacing024);
  color: var(--gray2);
  width: 100%;
  max-width: 100vw;
  height: 100%;
position: relative;
overflow-x: hidden;
}

